.places {
  max-width: 984px;
  padding: 92px 0;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
      max-width: 720px;
      padding: 88px 0;
    }
  }

@media screen and (max-width: 550px) {
    .places {
      width: 320px;
      padding: 66px 0;
    }
 }
