.intro {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  position: relative;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (max-width: 550px) {
  .intro {
    max-width: 288px;
  }
}
